@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@200;300&family=Ubuntu&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.main
{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%),url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav
{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{
    font-family: 'Nunito', sans-serif,
                 'Poppins', sans-serif;
     font-size: 1.1rem;
     font-weight: 700;
     color: coral;
     text-transform: uppercase;
}
.nav >ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul>li
{
    margin-left: 60px;
    position: relative;
}
.nav>ul> li> a
{
    color: white;
    font-size: 1.3rem;
    font-family:'ubuntu',sans-serif;
}
.nav>ul>li>::after
{
    content: "";
    width: 0%;
    height: 3px;
    left: 0;
    bottom: 0;
    background: tomato;
    position: absolute;
    transition: 0.5s;

}
.nav>ul>li>:hover:after
{
    width: 100%;
}

.search-bar input
{
    padding: 5px;
    border-radius: 5px;
    width: 15vw;
    border: none;
    outline: none;
}
.search-bar button
{
    padding: 5px;
    border-radius: 5px;
    background-color: tomato;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s;
}
.search-bar button:hover
{
    background-color: rgb(226, 154, 128);
}


.content
{
    width: 50vw;
    height: 70vh;
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
}
.content h1
{
    font-size: 2rem;
    font-family: 'Poppins',sans-serif,
                    'ubuntu',sans-serif;
    font-weight: 800;
    color: white;
    letter-spacing: 2px;
    line-height: -15px;
}
.content h1 span
{
    color: rgb(238, 61, 30);
}
.content p
{
    font-size: 1.2rem;
    letter-spacing: 3px;
    margin-top: 3rem;
    color: rgb(238, 234, 234);
}
.btn
{
    margin-top: 6rem;

}
.explore-btn
{
    width: 14rem;
    height: 3rem;
    border: 1px solid orangered;
    border-radius: 35px;
    background: transparent;
    color: white;
    font-size: 1rem;
    font-family:'ubuntu',sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.explore-btn:hover
{
    background: orangered;
}
.form
{
    width: 30vw;
    height: 62vh;
    background: linear-gradient(to top,rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%);  
    box-shadow: linear-gradient(to top,rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%)
                    inset 5px 5px 0px ,
                        -5px -5px 0px ; 
    border-radius: 15px;
    position: absolute;
    top: 33%;
    left: 67%;
    display: flex;
    display: inline-block;
}
.form_logo
{
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: tomato;
}
.form label
{
    font-size: 1.5rem;
    color: white;
}
.form input
{
    display: flex;
    padding: 5px;
    padding-left: 10px;
    width: 26vw;
    height: 6vh;
    border-radius: 5px;
    border: none;
    outline: none;
}
.name,.email,.password
{
    padding-left: 24px;
}
.login_btn
{

    margin-top: 4rem;
    margin-left: 4rem;
    
}
.login-btn
{
    width: 16em;
    height: 3em;
    outline: none;
    border: 1px solid orangered;
    border-radius: 35px;
    background:none;
    font-family: 'ubuntu',sans-serif,
                    'Poppins',sans-serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    text-align: center;
    transition: 0.5s;
}
.login-btn:hover
{
    background: orangered;
}


